torch==2.9.1+cu126
numpy==2.2.6
opencv-python==4.12.0.88
sounddevice==0.5.3
scipy==1.16.3
librosa==0.11.0
gradio==6.0.2
matplotlib==3.10.7
torchvision==0.24.1+cu126
tqdm==4.67.1
pydantic==2.12.4
streamlit==1.52.2
appwrite==13.6.1
einops==0.8.1
torchpack==0.1.0
requests==2.32.5
PyYAML
tensorboardX
scikit-learn
